---
title: "Do social norms overpower relative income? Evidence from Japan and the U.S."
collection: talks
permalink: /talks/2019-06-16-social-norms-relative-income
date: 2019-06-16
venue: "Japan Association for Applied Economics, Nanzan University"
---

Presented at the Japan Association for Applied Economics, Nanzan University, 2019/06/16.
---
title: "Do Social Norms Affect Wives’ Labor Force Participation? A Comparison of Japan and the U.S."
collection: talks
permalink: /talks/2019-10-11-social-norms-wives-labor-participation
date: 2019-10-11
venue: "Labor Economics Workshop, Osaka University"
---

Presented at the Labor Economics Workshop, Osaka University, 2019/10/11.
---
title: "Attending a more selective college and return on the labor and marriage markets in Japan"
collection: talks
permalink: /talks/2020-05-30-selective-college-returns
date: 2020-05-30
venue: "The Japanese Economic Association, Online"
---

Presented at the Japanese Economic Association, Online, 2020/05/30.
---
title: "Gender gap in returns to college education in Japan: The impact of attending a highly-ranked college"
collection: talks
permalink: /talks/2020-10-09-gender-gap-returns-college-education
date: 2020-10-09
venue: "Labor Economics Workshop, Online"
---

Presented at the Labor Economics Workshop, Online, 2020/10/09.
---
title: "Preference for traditional gender norms and spouses’ subjective well-being"
collection: talks
permalink: /talks/2020-11-22-preference-gender-norms
date: 2020-11-22
venue: "Japan Association for Applied Economics, Online"
---

Presented at the Japan Association for Applied Economics, Online, 2020/11/22.
---
title: "The power of role models: Gender role attitudes and female labor participation in Japan"
collection: talks
permalink: /talks/2021-06-26-power-role-models
date: 2021-06-26
venue: "Japan Association for Applied Economics, Online"
---

Presented at the Japan Association for Applied Economics, Online, 2021/06/26.
---
title: "Intergenerational mobility in China: the lucky only child?"
collection: talks
permalink: /talks/2023-12-02-intergenerational-mobility-china
date: 2023-12-02
venue: "Kyushu Association of Economic Science, Kyushu University"
---

Presented at the Kyushu Association of Economic Science, Kyushu University, 2023/12/02.

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
